body{
    font-size: 18px}
    table{border-collapse: collapse;width: 800px;}
    td, th{padding: 10px 10px}
h1 {
    background-color: red;}
#vis{
    background-color: midnightblue;}
    #vis1{
    background-color: orange;}    
    #vis2{
        background-color: peru;}
        #vis3{
            background-color: yellowgreen ;}
            #vis4{
                background-color: maroon;}

#foto1{
    background-color: deeppink;}
    #foto2 {
        background-color: darkorange;}
        #foto3 {
            background-color: gold;}
            #foto4{
                background-color: goldenrod;}
                #foto5{
                    background-color: darkviolet;}
                    #foto6{
                        background-color: fuchsia;}
                        #foto7{
                            background-color: darkolivegreen;}
                            #foto8{
                                background-color: blue;}

                                #haai{
                                    background-color: powderblue;}
                                    #haai1{
                                    background-color: palevioletred;}    
                                    #haai2{
                                        background-color: purple;}
                                        #haai3{
                                            background-color: mediumseagreen ;}
                                            #haai4{
                                                background-color: mistyrose;}
 footer {
    background-color: red;}
